$grey: #3b3b3b;
$red: #8c4a37;
$blue: #4a5656;
$green: #777b5c;
$beige: #cbb9a9;
$beige_1: #e3ddd6;
$beige_2: #f1eeeb;
$black: #242424;
$white: #ffffff;
$main-green: #1a453e;
$stroke-gray: #f1f1f1;
$light-gray: #aaaaaa;
$gray-hover: #4b4b4b;
$gray-frame: #e3e3e3;
$footer-bg: #fafafa;

$transition: all 0.5s ease-in;

$large-desktop: 1420px;
$small-desktop: 1260px;
$extra-large-tablet: 1100px;
$large-tablet: 980px;
$tablet: 768px;
$large-mobile: 740px;
$middle-mobile: 570px;
$mobile: 376px;
$small-mobile: 350px;
